{% extends "base.html" %}

{% block title %}ノート一覧{% endblock %}

{% block content %}
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold">ノート一覧</h1>
        <!-- <a href="/notes/new" class="text-xl text-blue-400 mb-3">+ 新規ノート作成</a> -->
        <a href="{{ url_for('new_note') }}" class="text-xl  bg-gray-300 rounded px-3 py-2">+ 新規ノート作成</a>
    </div>

  <hr>

  {% if notes %}
    <ul class="my-4">
        {% for note in notes %}
            <li class="mb-2 p-2 text-xl bg-gray-200 shadow rounded">
                <a href="{{ url_for('show_note', note_id=note.id) }}">{{ note.title }}</a>
            </li>
        {% endfor %}
    </ul>
  {% else %}
    <p class="text-gray-600">まだノートがありません。</p>
  {% endif %}
{% endblock %}
