{% extends "base.html" %}

{% block title %}新規ノート{% endblock %}

{% block content %}
<h1 class="text-xl mb-4">新規ノート作成</h1>

<form action="/notes" method="post">
  <div>
    <input
      class="w-full bg-white border-1 border-solid px-1 py-2 mb-4"
      type="text"
      name="title"
      placeholder="実験タイトル"
      required="required"
    />
  </div>
  <div>
    <textarea
      class="w-full bg-white border-1 border-solid px-1 py-2"
      name="content_md"
      rows="15"
      placeholder="Markdownで実験内容を記述してください"
    ></textarea>
  </div>

  <button class="bg-white shadow p-2 rounded" type="submit">保存</button>
</form>

<br>

<a href="/notes">一覧へ戻る</a>

{% endblock %}
