APP_PORT=1234

FLASK_CONFIG="development"
FLASK_APP=run.py
FLASK_DEBUG=1

SECRET_KEY="my-secret-key"

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

WTF_CSRF_SECRET_KEY="csrf-secret-key"
