Flask

# display markdown in browser
markdown
bleach
pymdown-extensions
markdown-it-py
mdit-py-plugins

# CRUD
Flask-SQLAlchemy
Flask-Migrate

# Login
Flask-Login

# Form
Flask-WTF

# Test
pytest

# environment variables
python-dotenv