blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
  color: #555;
  background: #f9f9f9;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-left: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 8px;
  overflow-x: auto;
}

pre code {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
}


.contains-task-list {
  list-style: none;
  padding-left: 0;
}

.task-list-item {
  margin-left: 0;
}

.task-list-item input {
  margin-right: 0.5rem;
}
