{% extends "base.html" %}

{% block content %}
    <div class="w-full mx-auto max-w-md bg-white px-6 py-6">
        <h2 class="text-xl mb-4">ユーザー登録</h2>
        <form
            method="post"
            action="{{ url_for('auth.register') }}"
            class="px-6 py-4 mb-4"
            novalidate
        >
            {{ form.csrf_token }}
            <div class="mb-4">
                {{ form.username.label(class="block") }}
                {{ form.username(class="bg-white w-70 shadow border border-gray-300 p-2") }}
                {% if form.username.errors %}
                    <ul class="errors text-red-500">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            <div class="mb-4">
                {{ form.password.label(class="block") }}
                {{ form.password(class="bg-white w-70 shadow border border-gray-300 p-2") }}
                {% if form.password.errors %}
                    <ul class="errors text-red-500">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            <div class="mb-4">
                {{ form.confirm.label(class="block") }}
                {{ form.confirm(class="bg-white w-70 shadow border border-gray-300 p-2") }}
                {% if form.confirm.errors %}
                    <ul class="errors text-red-500">
                        {% for error in form.confirm.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            {{ form.submit(class="bg-white shadow border border-gray-200 p-2 rounded") }}
        </form>

        <p>
            すでにアカウントがありますか？
            <a href="{{ url_for('auth.login') }}">ログイン</a>
        </p>
    </div>
{% endblock %}